.perfil h2 {
    margin: 150px 0px 80px 100px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 50px;
}

.perfil p {
    margin: 5px 30px 50px 30px;
    font-family: 'Ysabeau Infant', sans-serif;
    text-align: justify;
    font-size: 25px;
}